@model IEnumerable<MiTiendaLeguizamon.Models.Seccion>


<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Secciones</h2>
            </div>
        </div>
        <div class="row row-pb-lg">
            <div class="col-md-12">
                <div class="product-name d-flex">
                    <div class="one-forth text-left px-4">
                        <span>@Html.DisplayNameFor(model => model.Descripcion)</span>
                    </div>
                    <div class="one-eight text-center px-4">
                        <span>Action</span>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="product-cart d-flex">
                        <div class="one-forth">
                            <div class="display-tc">
                                <h3>@Html.DisplayFor(modelItem => item.Descripcion)</h3>
                            </div>
                        </div>

                        <div class="one-eight text-center">
                            <div class="display-tc">
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>@Html.ActionLink("Crear Seccion", "Create", "Secciones", null)</h2>
            </div>
        </div>
    </div>
</div>
